@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: 'Minecraftia';
  src: url(../minecraftia/Minecraftia-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(../images/background.png);
  /* outline: 2px solid red; */
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #bfa177;
  overflow: hidden;
}

#bed {
  position: fixed;
  width: calc(min(100vw, 100vh) * 0.25);
  height: calc(min(100vw, 100vh) * 0.37);
  left: calc(50vw - min(100vw, 100vh) * 0.45);
  top: calc(50vh - min(100vw, 100vh) * 0.29);
  pointer-events: auto;
  /* outline: 2px solid red; */
}

#desk {
  position: fixed;
  width: calc(min(100vw, 100vh) * 0.32);
  height: calc(min(100vw, 100vh) * 0.26);
  left: calc(50vw - min(100vw, 100vh) * -0.13);
  top: calc(50vh - min(100vw, 100vh) * 0.27);
  pointer-events: auto;
  /* outline: 2px solid red; */
}

#chair {
  position: fixed;
  width: calc(min(100vw, 100vh) * 0.13);
  height: calc(min(100vw, 100vh) * 0.18);
  left: calc(50vw + min(100vw, 100vh) * 0.22);
  top: calc(50vh - min(100vw, 100vh) * 0.08);
  pointer-events: auto;
  /* outline: 2px solid red; */
}

#dog-bed {
  position: fixed;
  width: calc(min(100vw, 100vh) * 0.27);
  height: calc(min(100vw, 100vh) * 0.17);
  left: calc(50vw - min(100vw, 100vh) * 0.46);
  top: calc(50vh + min(100vw, 100vh) * 0.3);
  pointer-events: none;
  /* outline: 2px solid red; */
}

#door {
  position: fixed;
  width: calc(min(100vw, 100vh) * 0.30);
  height: calc(min(100vw, 100vh) * 0.03);
  left: calc(50vw + min(100vw, 100vh) * 0.12);
  top: calc(50vh + min(100vw, 100vh) * 0.44);
  pointer-events: none;
  /* outline: 2px solid red; */
}

#shoes {
  position: fixed;
  width: calc(min(100vw, 100vh) * 0.09);
  height: calc(min(100vw, 100vh) * 0.09);
  left: calc(50vw - min(100vw, 100vh) * 0.08);
  top: calc(50vh - min(100vw, 100vh) * -0.38);
  pointer-events: auto;
  /* outline: 2px solid red; */
}

:root {
  --room-x: 0.025;
  --room-y: 0.22;
  --room-w: 0.95;
  --room-h: 0.75;

  --bed-x: 0.05;
  --bed-y: 0.21;
  --bed-w: 0.25;
  --bed-h: 0.29;

  --desk-x: 0.627;
  --desk-y: 0.22;
  --desk-w: 0.33;
  --desk-h: 0.2;

  --chair-x: 0.716;
  --chair-y: 0.4;
  --chair-w: 0.14;
  --chair-h: 0.13;
}

#bounds-box {
  position: fixed;
  left: calc((100vw - min(100vw, 100vh)) / 2 + min(100vw, 100vh) * var(--room-x));
  top: calc((100vh - min(100vw, 100vh)) / 2 + min(100vw, 100vh) * var(--room-y));
  width: calc(min(100vw, 100vh) * var(--room-w));
  height: calc(min(100vw, 100vh) * var(--room-h));
  /* border: 2px solid red; */
  pointer-events: none;
  z-index: 100;
}

#bed-box, #desk-box, #chair-box {
  position: fixed;
  /* border: 2px solid blue; */
  pointer-events: none;
  z-index: 100;
}

#bed-box {
  left: calc((100vw - min(100vw, 100vh)) / 2 + min(100vw, 100vh) * var(--bed-x));
  top: calc((100vh - min(100vw, 100vh)) / 2 + min(100vw, 100vh) * var(--bed-y));
  width: calc(min(100vw, 100vh) * var(--bed-w));
  height: calc(min(100vw, 100vh) * var(--bed-h));
}

#desk-box {
  left: calc((100vw - min(100vw, 100vh)) / 2 + min(100vw, 100vh) * var(--desk-x));
  top: calc((100vh - min(100vw, 100vh)) / 2 + min(100vw, 100vh) * var(--desk-y));
  width: calc(min(100vw, 100vh) * var(--desk-w));
  height: calc(min(100vw, 100vh) * var(--desk-h));
}

#chair-box {
  left: calc((100vw - min(100vw, 100vh)) / 2 + min(100vw, 100vh) * var(--chair-x));
  top: calc((100vh - min(100vw, 100vh)) / 2 + min(100vw, 100vh) * var(--chair-y));
  width: calc(min(100vw, 100vh) * var(--chair-w));
  height: calc(min(100vw, 100vh) * var(--chair-h));
}

.sprite {
  /* outline: 2px solid red; */
  position: fixed;
  left: calc(50vw - min(100vw, 100vh) * 0.3875);
  top: calc(50vh + min(100vw, 100vh) * 0.3305);
  width: calc(min(100vw, 100vh) * 0.15);
  height: calc(min(100vw, 100vh) * 0.10965);
  background-repeat: no-repeat;
  z-index: 10;
  /* outline: 2px solid red; */
}

.laying-down {
  position: fixed;
  left: calc(50vw - min(100vw, 100vh) * 0.4125);
  top: calc(50vh + min(100vw, 100vh) * 0.3375);
  width: calc(min(100vw, 100vh) * 0.185);
  height: calc(min(100vw, 100vh) * 0.085);
  background-image: url(../images/penny-laying-right.png);
  background-size: calc(min(100vw, 100vh) * 0.661) calc(min(100vw, 100vh) * 0.489);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  /* outline: 2px solid red; */
}

.glow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  visibility: hidden;
}

#glow-bed {
  background-image: url(../images/bed-glow.png);
}

#glow-desk {
  background-image: url(../images/desk-glow.png);
}

#glow-shoes {
  background-image: url(../images/shoes-glow.png);
}

.pop-up-text {
  background-image: url(../images/pop-up.png);
  background-size: 656px 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#lights-off {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/lights-off.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 15;
  opacity: 0.8;
}

.pop-up-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/pop-up.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  visibility: hidden;
  z-index: 20;
}

.pop-up-exit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/exit.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  visibility: hidden;
  z-index: 21;
  cursor: pointer;
}

.text-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(80vw, 80vh);
  height: min(75vw, 75vh);
  /* outline: 2px solid red; */
  pointer-events: none;
  z-index: 22;
}

.dog-pics {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dog-pics img {
  width: 45%;
  border-radius: 8px;
}

#dog-pic, #with-dog-pic {
  display: inline-block;
  width: 45%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

#about-me-text {
  text-align: center;
}

#about-me-text p {
  text-align: left;
}

.text {
  position: absolute;
  z-index: 23;
  color: #4e749c;
  visibility: hidden;
  text-align: left;
  width: 90%;
  height: 80%;
  top: 10%;
  left: 5%;
  font-family: 'Outfit', sans-serif;
  word-spacing: 5px;
  overflow-y: auto;
  pointer-events: auto;
}

a {
  color: #4e749c;
  cursor: pointer;
}